<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw98-LvO0V5UvygxSlXGGMsRIdpEiaTVE</string>
	<key>GCM_SENDER_ID</key>
	<string>689920544931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratceyhun.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-d1e52</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-d1e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689920544931:ios:8eb080be02ac57d3bb6f16</string>
</dict>
</plist>